---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app volsync-operator
  namespace: flux-system
spec:
  targetNamespace: volsync
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: longhorn
  interval: 1h
  path: ./kubernetes/apps/volsync/volsync-operator/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops
  wait: true
