---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
  - ./jellyfin/ks.yaml
  - ./jellyseerr/ks.yaml
  - ./photoview/ks.yaml
  - ./plex/ks.yaml
  - ./watchstate/ks.yaml
components:
  - ../../components/common
  - ../../components/repos/app-template
  # - ../../components/flux/alerts
