---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: jellyseerr
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: jellyseerr-secret
    template:
      data:
        OIDC_CLIENT_ID: "{{ .CLIENT_ID }}"
        OIDC_CLIENT_SECRET: "{{ .CLIENT_SECRET }}"
  dataFrom:
    - extract:
        key: jellyseerr
