---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname mastodon-fakerelay
  namespace: &namespace selfhosted
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  components: []
  dependsOn:
    - name: longhorn
      namespace: longhorn-system
  interval: 1h
  path: "./kubernetes/apps/selfhosted/mastodon-fakerelay/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  timeout: 5m
  wait: true
