---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name authelia-config
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    template:
      templateFrom:
        - target: Data
          configMap:
            name: authelia-config-tpl
            items:
              - key: configuration.yaml
                templateAs: Values
  dataFrom:
    - extract:
        key: authelia
    - extract:
        key: cloudnative-pg
