---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: authelia
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: authelia-secret
    template:
      engineVersion: v2
      data:
        # PostgreSQL init container
        INIT_POSTGRES_DBNAME: authelia
        INIT_POSTGRES_HOST: postgres-rw.db.svc.cluster.local
        INIT_POSTGRES_USER: "{{ .AUTHELIA_POSTGRESS_USERNAME }}"
        INIT_POSTGRES_PASS: "{{ .AUTHELIA_POSTGRESS_PASSWORD }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"

        # Authelia secrets
        AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD: "{{ .AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD }}"
        AUTHELIA_JWT_SECRET: "{{ .AUTHELIA_JWT_SECRET }}"
        AUTHELIA_SESSION_SECRET: "{{ .AUTHELIA_SESSION_SECRET }}"
        AUTHELIA_STORAGE_ENCRYPTION_KEY: "{{ .AUTHELIA_STORAGE_ENCRYPTION_KEY }}"
        AUTHELIA_STORAGE_POSTGRES_PASSWORD: "{{ .AUTHELIA_POSTGRESS_PASSWORD }}"
  dataFrom:
    - extract:
        key: authelia
    - extract:
        key: cloudnative-pg
