---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: romm
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      romm:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}"
        containers:
          app:
            image:
              repository: ghcr.io/rommapp/romm
              tag: 4.4.0@sha256:056114e8fdab8d6b592d1330390e6203f08642d6ba17d1b3ad1681ce8fc8fee3
            env:
              DB_PORT: "5432"
              DISABLE_DOWNLOAD_ENDPOINT_AUTH: true
              DISABLE_USERPASS_LOGIN: false
              ENABLE_RESCAN_ON_FILESYSTEM_CHANGE: "true"
              ENABLE_SCHEDULED_CONVERT_IMAGES_TO_WEBP: "true"
              ENABLE_SCHEDULED_RESCAN: "true"
              ENABLE_SCHEDULED_RETROACHIEVEMENTS_PROGRESS_SYNC: "true"
              ENABLE_SCHEDULED_UPDATE_LAUNCHBOX_METADATA: "true" #cron set to 5m by default
              ENABLE_SCHEDULED_UPDATE_MAME_XML: "false"
              ENABLE_SCHEDULED_UPDATE_SWITCH_TITLEDB: "false"
              HASHEOUS_API_ENABLED: true
              PLAYMATCH_API_ENABLED: true
              REDIS_PORT: "6379"
              RESCAN_ON_FILESYSTEM_CHANGE_DELAY: 5
              ROMM_BASE_PATH: /romm
              OIDC_ENABLED: false
              ROMM_DB_DRIVER: postgresql
              SCHEDULED_RESCAN_CRON: "0 3 * * *"
              LAUNCHBOX_API_ENABLED: "true"
              TZ: America/Chicago
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}"
            resources:
              requests:
                cpu: 10m
                memory: 1Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: romm
        ports:
          http:
            port: 8080
    route:
      app:
        hostnames: ["{{ .Release.Name }}.phekno.io"]
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        type: configMap
        name: romm-configmap
        globalMounts:
          - path: /romm/config/config.yml
            subPath: config.yml
            readOnly: true
      data:
        storageClass: longhorn
        accessMode: ReadWriteOnce
        size: 20Gi
        advancedMounts:
          romm:
            app:
              - path: /romm/assets
                subPath: assets
              - path: /romm/resources
                subPath: resources
      nginx-conf:
        type: emptyDir
        globalMounts:
          - path: /etc/nginx/conf.d
      tmpfs:
        type: emptyDir
        advancedMounts:
          romm:
            app:
              - path: /redis-data
                subPath: redis-data
              - path: /romm/config
                subPath: config
              - path: /tmp
                subPath: tmp
      media:
        type: nfs
        server: 10.100.50.10
        path: /tank/roms
        globalMounts:
          - path: /romm/library
