---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mastodon-fakerelay
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      fakerelay:
        replicas: 1
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
        initContainers:
          init-config:
            image:
              repository: busybox
              tag: latest
            command:
              - sh
              - -c
              - |
                if [ ! -f /data/config.json ]; then
                  cat > /data/config.json <<EOF
                {
                  "FakeRelayUrl": "https://fakerelay.phekno.social",
                  "FakeRelayApiKey": "CHANGE_ME",
                  "Host": "toot.phekno.social",
                  "ApiKey": "CHANGE_ME",
                  "Relays": []
                }
                EOF
                fi
        containers:
          app:
            image:
              repository: ghcr.io/g3rv4/fakerelay
              tag: 1.0.49
            args:
              - web
            env:
              ASPNETCORE_ENVIRONMENT: "production"
              ASPNETCORE_URLS: "http://+:5000"
              CONFIG_PATH: "/data/config.json"
            resources:
              requests:
                cpu: 10m
                memory: 10Mi
              limits:
                memory: 200Mi
    service:
      app:
        ports:
          http:
            port: 5000
    route:
      app:
        hostnames: ["fakerelay.phekno.social"]
        parentRefs:
          - name: social
            namespace: network
    persistence:
      data:
        type: persistentVolumeClaim
        storageClass: longhorn
        size: 1Gi
        accessMode: ReadWriteOnce
        globalMounts:
          - path: /data
