---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app photoview
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      photoview:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: viktorstrate/photoview
              tag: 2.3.13
            env:
              TZ: America/Chicago
              PHOTOVIEW_DATABASE_DRIVER: sqlite
              PHOTOVIEW_SQLITE_PATH: /app/data/photoview.db
              PHOTOVIEW_MEDIA_CACHE: /app/cache
              PHOTOVIEW_LISTEN_IP: 0.0.0.0
              PHOTOVIEW_LISTEN_PORT: &port 80
              PHOTOVIEW_DISABLE_FACE_RECOGNITION: "true"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/graphql
                    port: *port
                  initialDelaySeconds: 15
                  periodSeconds: 30
                  timeoutSeconds: 5
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 2Gi
    service:
      app:
        controller: photoview
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - photos.phekno.io
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /app/data
      cache:
        type: emptyDir
        globalMounts:
          - path: /app/cache
      photos:
        type: nfs
        server: 10.100.50.10
        path: /tank/pictures
        globalMounts:
          - path: /photos
            readOnly: true
