---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname mastodon
  namespace: &namespace selfhosted
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  dependsOn:
    - name: cloudnative-pg
      namespace: db
    - name: longhorn
      namespace: longhorn-system
    - name: cloudflare-tunnel
      namespace: network
    - name: onepassword
      namespace: external-secrets
    - name: dragonfly
      namespace: db
  interval: 1h
  path: ./kubernetes/apps/selfhosted/mastodon/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  timeout: 5m
  wait: true
