---
# yaml-language-server: $schema=https://schemas.zinn.ca/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: immich
spec:
  targetNamespace: media
  path: ./kubernetes/main/apps/media/immich/app
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  dependsOn:
    - name: dragonfly
      namespace: db
    - name: longhorn
      namespace: longhorn-system
    - name: cloudnative-pg
      namespace: db
    - name: external-secrets
      namespace: external-secrets
  # components:
  #   - ../../../../components/gatus/guarded
  #   - ../../../../components/nfs-scaler
  postBuild:
    substitute:
      APP: immich-server
      GATUS_APP: immich
      GATUS_SUBDOMAIN: photos
  prune: true
  wait: false
  interval: 30m
  timeout: 5m
