---
theme: auto
server:
  address: 'tcp://0.0.0.0:9091'
  buffers:
    read: 8192
    write: 8192
  timeouts:
    read: 6s
    write: 6s
    idle: 30s
  endpoints:
    authz:
      ext-authz:
        implementation: ExtAuthz
log:
  level: debug
telemetry:
  metrics:
    enabled: true
    address: 'tcp://0.0.0.0:9959'
    buffers:
      read: 4096
      write: 4096
identity_validation:
  reset_password:
    jwt_secret: "{{ .AUTHELIA_JWT_SECRET }}"
totp:
  disable: false
webauthn:
  disable: true
duo_api:
  disable: false
  hostname: "{{ .AUTHELIA_DUO_API_HOSTNAME }}"
  integration_key: "{{ .AUTHELIA_DUO_API_INTEGRATION_KEY }}"
  secret_key: "{{ .AUTHELIA_DUO_API_SECRET_KEY }}"
authentication_backend:
  password_reset:
    disable: false
  refresh_interval: 5m
  ldap:
    implementation: lldap
    address: ldap://lldap.security.svc.cluster.local:3890
    timeout: 5s
    start_tls: false
    base_dn: dc=home,dc=cluster
    user: uid=authelia_bind,ou=people,dc=home,dc=cluster
    password: "{{ .AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD }}"
session:
  name: authelia_session
  secret: "{{ .AUTHELIA_SESSION_SECRET }}"
  expiration: 1h
  inactivity: 15m
  remember_me: 1M
  cookies:
    - domain: phekno.io
      authelia_url: https://auth.phekno.io
      default_redirection_url: https://phekno.io
  redis:
    host: dragonfly.db.svc.cluster.local
    port: 6379
regulation:
  max_retries: 3
  find_time: 2m
  ban_time: 5m
storage:
  encryption_key: "{{ .AUTHELIA_STORAGE_ENCRYPTION_KEY }}"
  postgres:
    address: 'postgres-rw.db.svc.cluster.local:5432'
    database: authelia
    username: "{{ .AUTHELIA_POSTGRES_USERNAME }}"
    password: "{{ .AUTHELIA_POSTGRES_PASSWORD }}"
notifier:
  disable_startup_check: false
  smtp:
    address: submission://email-smtp.us-east-1.amazonaws.com:587
    username: "{{ .AUTHELIA_NOTIFIER_SMTP_USERNAME }}"
    password: "{{ .AUTHELIA_NOTIFIER_SMTP_PASSWORD }}"
    sender: Authelia Admin <admin@phekno.io>
access_control:
  default_policy: deny
  rules:
    # Bypass all Authelia portal paths
    - domain:
        - 'auth.phekno.io'
      policy: bypass
    # Admin services requiring 2FA
    - domain:
        - 'grafana.phekno.io'
        - 'prometheus.phekno.io'
        - 'alertmanager.phekno.io'
        - 'longhorn.phekno.io'
      policy: two_factor
      subject:
        - 'group:admins'
    # Catch-all for authenticated internal services
    - domain:
        - '*.phekno.io'
      policy: one_factor
