---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: playit
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: playit-secret
    template:
      data:
        SECRET_KEY: "{{ .PLAYIT_SECRET_KEY }}"
  dataFrom:
    - extract:
        key: playit
