---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: victoria-logs
spec:
  chartRef:
    kind: OCIRepository
    name: victoria-logs
  interval: 1h
  values:
    fullnameOverride: victoria-logs
    retentionPeriod: 14d
    server:
      persistentVolume:
        enabled: true
        storageClassName: longhorn
        size: 20Gi
      serviceMonitor:
        enabled: true
    dashboards:
      # Disable default dashboards (includes unwanted Vector dashboard)
      # We only need the VictoriaLogs dashboard which we'll create manually
      enabled: false