---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: games
components:
  - ../../components/common
  - ../../components/repos/app-template
resources:
  - ./minecraft/mc-router/ks.yaml
  - ./minecraft/survival/ks.yaml
  # - ./romm/ks.yaml
