---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: minecraft
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 5.0.0
  url: oci://ghcr.io/itzg/minecraft-server-charts/minecraft
---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app minecraft-survival
spec:
  chartRef:
    kind: OCIRepository
    name: minecraft
  dependsOn: []
  interval: 15m
  values:
    fullnameOverride: *app
    image:
      repository: ghcr.io/itzg/minecraft-server
      tag: 2025.12.0@sha256:4eb78cc5f3f4e87e281d38590deca2a4a74afaa9f351210059cb2786443994f2
    resources:
      requests:
        cpu: 1000m
      limits:
        memory: 8Gi
    securityContext:
      runAsUser: 1000
      fsGroup: 100
    livenessProbe:
      initialDelaySeconds: 30
    readinessProbe:
      initialDelaySeconds: 30
    startupProbe:
      enabled: true
    extraEnv:
      TZ: America/Chicago
    persistence:
      storageClass: longhorn
      dataDir:
        enabled: true
        Size: 10Gi
    # serviceAnnotations:
    #   mc-router.itzg.me/externalServerName: mc.phekno.io
    minecraftServer:
      eula: true
      # version: 1.21.1
      # type: FORGE
      overrideServerProperties: true
      jvmXXOpts: "-XX:MaxRAMPercentage=75"
      difficulty: normal
      spawnProtection: 0
      gameMode: survival
      pvp: false
      # onlineMode: https://kube-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
      ops: "phekno,quinnyf13"
      whitelist: "phekno,quinnyf13,harpyf13,LivParrot,abbykinz2013"
      motd: "Phekno's Survival Server"
      worldSaveName: phekno-survival
      viewDistance: 12
      modUrls: []
      rcon:
        enabled: true
      serviceType: LoadBalancer
      serviceAnnotations:
        io.cilium/lb-ipam-ips: 10.100.50.156
  valuesFrom:
    - kind: Secret
      name: *app
      valuesKey: RCON_PASSWORD
      targetPath: minecraftServer.rcon.password
