---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: volsync
spec:
  interval: 1h
  chart:
    spec:
      chart: volsync
      version: 0.14.0
      sourceRef:
        kind: HelmRepository
        name: volsync
        namespace: flux-system
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    manageCRDs: true
    metrics:
      disableAuth: false

    rclone:
      repository: docker.io/rclone/rclone
      tag: 1.68.2

    restic:
      repository: docker.io/restic/restic
      tag: 0.17.3

    resources:
      requests:
        cpu: 10m
        memory: 64Mi
      limits:
        memory: 256Mi
