---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mastodon
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      sidekiq:
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/mastodon/mastodon
              tag: v4.5.4
            command: ["bundle", "exec", "sidekiq"]
            envFrom:
              - secretRef:
                  name: mastodon-secret
            env: &env
              LOCAL_DOMAIN: toot.phekno.io
              SMTP_FROM_ADDRESS: notifications@phekno.social
              SMTP_PORT: "587"
              SMTP_AUTH_METHOD: login
              SMTP_OPENSSL_VERIFY_MODE: peer
              # SMTP_ENABLE_STARTTLS_AUTO: auto
              REDIS_HOST: dragonfly.db.svc.cluster.local
              REDIS_PORT: 6379
              # S3_ENABLED: true
            resources:
              requests:
                memory: 500Mi
              limits:
                memory: 2048Mi
      streaming:
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/mastodon/mastodon-streaming
              tag: v4.5.4
            command: ["node", "./streaming/index.js"]
            envFrom:
              - secretRef:
                  name: mastodon-secret
            env: *env
            resources:
              requests:
                memory: 500Mi
              limits:
                memory: 2048Mi
      web:
        initContainers:
          init:
            image:
              repository: ghcr.io/mastodon/mastodon
              tag: v4.5.4
            command:
              - bash
              - -c
              - |
                echo "Running database migrations..."
                bundle exec rails db:migrate
            envFrom:
              - secretRef:
                  name: mastodon-secret
            env: *env
        containers:
          main:
            image:
              repository: ghcr.io/mastodon/mastodon
              tag: v4.5.4
            command: ["bundle", "exec", "puma", "-C", "config/puma.rb"]
            envFrom:
              - secretRef:
                  name: mastodon-secret
            env: *env
            resources:
              requests:
                memory: 500Mi
              limits:
                memory: 2048Mi
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
          affinity:
            podAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchLabels:
                      app.kubernetes.io/name: mastodon
                      app.kubernetes.io/instance: mastodon
                      app.kubernetes.io/controller: sidekiq
                  topologyKey: kubernetes.io/hostname
      cronjob:
        type: cronjob
        cronjob:
          schedule: "0 4 * * *"
          parallelism: 1
          successfulJobsHistory: 1
          failedJobsHistory: 1
        containers:
          main:
            image:
              repository: ghcr.io/mastodon/mastodon
              tag: v4.5.4
            command: ["tootctl", "media", "remove", "--days=7"]
            envFrom:
              - secretRef:
                  name: mastodon-secret
            env: *env
            resources:
              requests:
                memory: 500Mi
              limits:
                memory: 2048Mi
        pod:
          affinity:
            podAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchLabels:
                      app.kubernetes.io/name: mastodon
                      app.kubernetes.io/instance: mastodon
                      app.kubernetes.io/controller: sidekiq
                  topologyKey: kubernetes.io/hostname
    service:
      streaming:
        controller: streaming
        ports:
          http:
            port: &streamingPort 4000
      web:
        controller: web
        ports:
          http:
            port: &webPort 3000
    persistence:
      data:
        type: persistentVolumeClaim
        storageClass: longhorn
        size: 20Gi
        accessMode: ReadWriteOnce
        advancedMounts:
          sidekiq:
            main:
              - path: /mastodon/public/system
          web:
            main:
              - path: /mastodon/public/system
          cronjob:
            main:
              - path: /mastodon/public/system
    route:
      app:
        hostnames: ["toot.phekno.io"]
        parentRefs:
          - name: social
            namespace: network
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /api/v1/streaming
            backendRefs:
              - name: mastodon-streaming
                port: *streamingPort
            filters:
              - type: RequestHeaderModifier
                requestHeaderModifier:
                  set:
                    - name: X-Forwarded-Proto
                      value: https
          - backendRefs:
              - name: mastodon-web
                port: *webPort
