---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: alertmanager-discord
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      alertmanager-discord:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: rogerrum/alertmanager-discord
              tag: 1.0.7@sha256:bb4bcb893dacca8735bd634b0796f0a1b3ef05e641f8a7b4921f7d0e5a17ee3e
            env:
              DISCORD_AVATAR_URL: https://avatars3.githubusercontent.com/u/3380462
              DISCORD_USERNAME: Alertmanager
            envFrom:
              - secretRef:
                  name: alertmanager-discord-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 64Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    service:
      app:
        controller: alertmanager-discord
        ports:
          http:
            port: 9094
