---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: pocket-id
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: pocket-id-secret
    template:
      data:
        # App
        ENCRYPTION_KEY: "{{ .POCKETID_ENCRYPTION_KEY }}"
        MAXMIND_LICENSE_KEY: "{{ .MAXMIND_LICENSE_KEY }}"
        # SMTP (from smtp 1Password item)
        SMTP_HOST: "{{ .SMTP_HOST }}"
        SMTP_PORT: "{{ .SMTP_PORT }}"
        SMTP_USER: "{{ .SMTP_USERNAME }}"
        SMTP_PASSWORD: "{{ .SMTP_PASSWORD }}"
        # LDAP (from lldap 1Password item)
        LDAP_BASE: "{{ .LLDAP_BASE_DN }}"
        LDAP_BIND_DN: "{{ .LLDAP_USER_DN }}"
        LDAP_BIND_PASSWORD: "{{ .LLDAP_LDAP_USER_PASS }}"
        # Database
        DB_CONNECTION_STRING: |-
          postgres://{{ .POCKETID_POSTGRES_USER }}:{{ .POCKETID_POSTGRES_PASSWORD }}@postgres-rw.db.svc.cluster.local/{{ .POCKETID_POSTGRES_DB }}
        # Postgres Init
        INIT_POSTGRES_DBNAME: "{{ .POCKETID_POSTGRES_DB }}"
        INIT_POSTGRES_HOST: "postgres-rw.db.svc.cluster.local"
        INIT_POSTGRES_USER: "{{ .POCKETID_POSTGRES_USER }}"
        INIT_POSTGRES_PASS: "{{ .POCKETID_POSTGRES_PASSWORD }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: lldap
    - extract:
        key: cloudnative-pg
    - extract:
        key: maxmind
    - extract:
        key: pocket-id
    - extract:
        key: smtp
