---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pocket-id
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      pocket-id:
        labels:
          postgres: "true"
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18@sha256:3c54d39f19fdb82ed5b3f286450e4071133cc6025bd0e25856bc2c522f8fc030
            envFrom: &envFrom
              - secretRef:
                  name: pocket-id-secret
        containers:
          app:
            image:
              repository: ghcr.io/pocket-id/pocket-id
              tag: v2.2.0@sha256:84d20a801692b9635f481522df2672a7aae522726c30953dae52e17fc2696b27
            env:
              TZ: America/Chicago
              ANALYTICS_DISABLED: true
              APP_URL: https://id.${SECRET_DOMAIN}
              DB_PROVIDER: postgres
              EMAILS_VERIFIED: true
              KEYS_STORAGE: database
              LDAP_ENABLED: true
              LDAP_URL: ldap://lldap.security.svc.cluster.local:389
              LDAP_SKIP_CERT_VERIFY: false
              LDAP_USER_SEARCH_FILTER: "(objectClass=person)"
              LDAP_USER_GROUP_SEARCH_FILTER: "(objectClass=groupOfUniqueNames)"
              LDAP_ATTRIBUTE_USER_UNIQUE_IDENTIFIER: uid
              LDAP_ATTRIBUTE_GROUP_UNIQUE_IDENTIFIER: cn
              LDAP_ATTRIBUTE_USER_FIRST_NAME: givenName
              LDAP_ATTRIBUTE_USER_LAST_NAME: sn
              LDAP_ATTRIBUTE_USER_USERNAME: uid
              LDAP_ATTRIBUTE_USER_EMAIL: mail
              LDAP_ATTRIBUTE_GROUP_MEMBER: uniqueMember
              LDAP_ATTRIBUTE_GROUP_NAME: cn
              LDAP_ADMIN_GROUP_NAME: pocket-id-admin
              SMTP_FROM: pocket-id@${SECRET_DOMAIN}
              SESSION_DURATION: 43800
              TRUST_PROXY: true
              UPLOAD_PATH: /app/data/uploads
              GEOLITE_DB_PATH: /app/data/GeoLite2-City.mmdb
            envFrom: *envFrom
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthz
                    port: &port 1411
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 32Mi
              limits:
                memory: 256Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: Always
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "id.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: network
    persistence:
      data:
        enabled: true
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        storageClass: longhorn
        size: 5Gi
        globalMounts:
          - path: /app/data
      tmpfs:
        type: emptyDir
        advancedMounts:
          pocket-id:
            app:
              - path: /tmp
                subPath: tmp
