---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app pocket-id
  namespace: &namespace security
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/security/pocket-id/app
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  dependsOn:
    - name: lldap
      namespace: security
    - name: cloudnative-pg
      namespace: db
    - name: external-secrets
      namespace: external-secrets
  postBuild:
    substitute:
      APP: *app
    substituteFrom:
      - kind: Secret
        name: cluster-secrets
  prune: true
  wait: false
  interval: 1h
  timeout: 5m
