---
# yaml-language-server: $schema=https://homelab-schemas-epg.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: pgadmin
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: pgadmin-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        PGADMIN_DEFAULT_EMAIL: "{{ .username }}"
        PGADMIN_DEFAULT_PASSWORD: "{{ .POSTGRES_SUPER_PASS }}"
        PGADMIN_CONFIG_ENABLE_PSQL: "True"
        # OIDC Configuration
        PGADMIN_CONFIG_AUTHENTICATION_SOURCES: "['oauth2', 'internal']"
        PGADMIN_CONFIG_OAUTH2_AUTO_CREATE_USER: "True"
        PGADMIN_CONFIG_OAUTH2_CONFIG: |
          [{
            'OAUTH2_NAME': 'Pocket-ID',
            'OAUTH2_DISPLAY_NAME': 'Pocket-ID',
            'OAUTH2_CLIENT_ID': '{{ .CLIENT_ID }}',
            'OAUTH2_CLIENT_SECRET': '{{ .CLIENT_SECRET }}',
            'OAUTH2_TOKEN_URL': 'https://id.phekno.io/api/oidc/token',
            'OAUTH2_AUTHORIZATION_URL': 'https://id.phekno.io/authorize',
            'OAUTH2_USERINFO_ENDPOINT': 'https://id.phekno.io/api/oidc/userinfo',
            'OAUTH2_API_BASE_URL': 'https://id.phekno.io/',
            'OAUTH2_SERVER_METADATA_URL': 'https://id.phekno.io/.well-known/openid-configuration',
            'OAUTH2_SCOPE': 'openid profile email',
            'OAUTH2_ICON': 'fa-openid',
            'OAUTH2_BUTTON_COLOR': '#2db1fd'
          }]
  dataFrom:
    - extract:
        key: cloudnative-pg
    - extract:
        key: pgadmin
